// Подключение шрифтов
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Roboto/roboto-v18-cyrillic_latin-300.eot');
  src: local('Roboto Light'), local('Roboto-Light'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-300.woff2') format('woff2'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-300.woff') format('woff'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-300.ttf') format('truetype'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-300.svg#Roboto') format('svg');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Roboto/roboto-v18-cyrillic_latin-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-regular.woff2') format('woff2'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-regular.woff') format('woff'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-regular.ttf') format('truetype'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Roboto/roboto-v18-cyrillic_latin-italic.eot');
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-italic.woff2') format('woff2'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-italic.woff') format('woff'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-italic.ttf') format('truetype'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-italic.svg#Roboto') format('svg');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Roboto/roboto-v18-cyrillic_latin-500.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-500.woff2') format('woff2'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-500.woff') format('woff'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-500.ttf') format('truetype'),
    url('/fonts/Roboto/roboto-v18-cyrillic_latin-500.svg#Roboto') format('svg');
}
