:host {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;

  .container {
    color: black;
    height: 20px;
    width: 20px;
  }

  .tooltip {
    transition: visibility 0ms, opacity 150ms linear;
    transition-delay: 150ms, 0ms;
  }

  .hide {
    opacity: 0;
    visibility: hidden;
  }

  .show {
    transition-delay: 0ms, 0ms;
    opacity: 1;
    visibility: visible;
  }
}
